// Colors

$bg_pending: #f8f0d6a4;
$font_pending: #c9a222;
$border_pending : #f5dd8d;

$bg_catered: #d6ecf8a4;
$font_catered: #357394;
$border_catered : #84cffa;

$bg_solved: #d6f8dca4;
$font_solved: #11461a;
$border_solved : #76e48a;

$bg_closed: #acacaca4;
$font_closed: #4e4e4e;
$border_closed : #7c7c7ca4;

$bg_hold: #e2e2e2a4;
$font_hold: #6b6b6ba4;
$border_hold : #a7a7a7;


$bg_un_hold: #dbe2d7a4;
$font_un_hold: #737971a4;
$border_un_hold : #a5aca1;

$bg_cancelled: #f8d6d6a4;
$font_cancelled: #b32d2d;
$border_cancelled : #e78787;


$bg_processing: #c1faf0;
$font_processing: #40a391;
$border_processing : #a5d6cd;



$bg_escalated: #fac6e6;
$font_escalated: #80546d;
$border_escalated : #d6a5b8;


$bg_applied_approval: #b7d2e4;
$font_applied_approval: #114c74;
$border_applied_approval : #4f5081;

$bg_approval_cancelled: #f3d8cb;
$font_approval_cancelled: #924e2e;
$border_approval_cancelled : #855037;

$bg_approved: #cff5d5;
$font_approved: #507a57;
$border_approved : #24472a;

$priority_low:#395d80;
$priority_normal:#0a6b27;
$priority_high:#ad1717;



